body{
  background: darkgrey;
  overflow: hidden;
}
.wrapper{
  width: 60%;
  margin: 0 auto;
}


.top{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 48vh;
  overflow: hidden;
}
.top-left, .top-right{
  width: 50%;
}
.top-left-text{
  height: 84%;
  overflow: auto;
}
.top-right-title{
  display:block;
}
.top-right-text{
  overflow: scroll;
  height: 84%;
}
.top-right-text::-webkit-scrollbar {
  display: none;
}


.bottom{
  height: 48vh;
}
.bottom-title{
  display:block;
}
.bottom-text{
  overflow: scroll;
  height: 84%;
}
.bottom-text::-webkit-scrollbar,
.top-right-text::-webkit-scrollbar,
.top-left-text::-webkit-scrollbar {
  display: none;
}
