.wrapper{
  width: 60%;
  margin: 0 auto;
}



.top{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50vh;
  overflow: hidden;

}
.top-left{
  width: 50%;

}
.top-right{
  width: 50%;
  overflow: auto;

}
.top-right-title{
  display:block;
  position: sticky; top: 0; z-index: 1;
}
.top-right-text{
  overflow: auto;
  height: 84%;

}
.top-right-text::-webkit-scrollbar {
  display: none;
}



.bottom{
  height: 50vh;
  overflow: auto;
}
.bottom-title{
  display:block;
  position: sticky; top: 0; z-index: 1;

}
.bottom-text{
  overflow: auto;
  height: 84%;

}
.bottom-text::-webkit-scrollbar {
  display: none;
}